@import "tailwindcss";

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
